@charset "UTF-8";
h6{font-size: var(--size-xs);} /*15px*/
h5, u{font-size: var(--size-s);} /*20px*/
h4{font-size: var(--size-m);} /*30px*/
h3{font-size: var(--size-l);} /*50px*/
h2{font-size: var(--main-title); } /*65px*/
h1{font-size: var(--slide-title);} /*100px*/
.textcolor65px{font-size: var(--main-title); color: #EC6A40;}
.textcolor50px{font-size: var(--size-l); color: #EC6A40;}   
.textcolor30px{font-size: var(--size-m); color: #EC6A40;}


@media(max-width:599px) {

}

@media(min-width:400px) and (max-width:600px) {

}

@media(min-width:1100px) {

}
                     /* 텍스트 애니메이션 and 움직이는 써클 */
#textanimation{background-image: url(../img/flowtext.png); width: 100; height: 13vw; animation: rotate 300s linear infinite;}
@keyframes rotate{
  from{
    background-position: 0 center;
  }
  to{
    background-position: -10000px center;
  }
}
.circle1{position: absolute; left: 15%; margin:8% 2%; animation:ani 1.6s infinite alternate;}
.circle1 img{width: 50%;}
.circle2{position: absolute; left: 65%; margin: 5%;animation:ani 1.4s infinite alternate;}
.circle2 img{width: 60%;}
.circle3{position: absolute;  margin: 15% 5%;animation:ani 1.5s infinite alternate;}
.circle3 img{width: 50%;}
.circle4{position: absolute; left: 60%; margin-top: 1%;}
.circle4 img{width: 50%; animation:ani 1.5s infinite alternate;}
@keyframes ani {
  0% {
      transform: translate(0, 0);
  }

  100% {
      transform: translate(0, 50px);
  }
}
  #rotatelogo img {animation: rotate_image 10s linear infinite;}
          @keyframes rotate_image{
          100%{
              transform: rotate(360deg);}
            }


                     /* 섹션1 */
#section1{ width: 100%; height: 1500px;
     position: relative; display: flex; flex-direction: column;}
.section1column1{width: 100%; height: 500px;}
.section1column1 div{text-align: center; margin:15%; color: black;}
.textbg{background-color:#D7E2AA; font-size: var(--main-title);}

.section1column2{ width: 100%; height: 500px;display: flex; align-items: 
    flex-end; justify-content: space-around; position: relative;}
#grapebox{display: flex; flex-direction: column; align-items: center;}
.pointer{width: 20px; height: 1vw; background-color:#AFC555; border-radius: 100%; position: absolute;}  
  
 

.section1column3{height: 500px; display: flex; }
.section1column3 .textbox{background-color: #F6AC82; width: 50%; border-radius: 70px 0 0 70px; border: 2px solid; display: flex; align-items: center; justify-content: center;}
.smallgrape{background-color: black; width: 50%; border-radius:0 70px 70px 0;}

                     /* 섹션2222 */
#section2{height: 100%;}
#section2 .titlebox{text-align: center; margin: 5%;}
.titlebox h6{color: #787878;}
#section2 .table_caption{text-align: right; margin-bottom: 15px; padding-right: 40px; color: #787878;}



/* 테이블 */
#section2 .table_wrap{max-width: 1300px; margin: 0 auto;}
#section2 .div-table{border-radius: 50px; overflow: hidden; background-color: white;}
#section2 .titlebox{transform: translateY(100px); opacity: 0; transition: 0.5s;}


/* dl */
.div-table dl{display: flex; justify-content: flex-start; align-items: stretch;}
.div-table dl{display: flex; justify-content: flex-start; align-items: stretch;}
/* dt */
.div-table dt:nth-child(1), .div-table dd:nth-child(1){width: 280px;}
.div-table dt:nth-child(2),.div-table dd:nth-child(2){flex-grow: 1; flex-direction: column;}
.div-table dt:nth-child(3),.div-table dd:nth-child(3){width: 280px;}
.div-table dt{display: flex; justify-content: center; align-items: center; background-color: #F6AC82; color: white; min-height: 70px;
  font-weight: var(--weight-bb);}
/* dd */
.div-table dd{ display: flex; justify-content: center; align-items: center; min-height: 70px; padding: 5px 10px;} 
.div-table dd:nth-child(2){color: #787878;}
/* label*/
#section2 .label{display: flex;justify-content: center; align-items: center;
flex-direction: column; background-color: #D7E2AA; border-radius: 50px;padding: 0.5vw; transition: 0.5s;}

.div-table .table_guide{margin-top: 15px; padding: 30px 50px;
background-color: #F6AC82;}



                     /* 섹션33333333 */
#section3{ width: 100%; height: 1000px; display: flex; flex-direction: column; align-items: center;}
#section3 .titlebox{text-align: center; width: 100%; padding: 1%;}
#section3 .titlebox{transform: translateY(100px); opacity: 0; transition: 0.5s;}


.iconbox{display: flex; justify-content: center; margin-top:5%;}
.iconbox>div{margin: 0 10px; border-radius: 20px; width: 10%; padding: 10px; color: white;}
.iconbox div:nth-of-type(1){background-color: #AFC555;}
.iconbox div:nth-of-type(2){background-color: #F6AC82;}
.iconbox div:nth-of-type(3){background-color: #EC6A40;}
.iconbox div:nth-of-type(4){background-color: #787878;}
                                 
.section3banner{display: flex; justify-content:space-around; align-items: center;
    width:100%; height: 600px; background-color:white; border: 20px solid #F6AC82; border-radius: 50px;}
.section3banner{padding: 50px;}
.section3banner h5:nth-of-type(2){color:#787878}

.swiper-slide h5{color:#787878}
#section3 .textbox{width: 100%;}
      .swiper {
        height:80%;
        width: 60%;
     
      }
      .swiper-slide img{ margin: 0 3%;}
      .swiper-slide {
        
        font-size: 18px;
        background: #D7E2AA;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        height: 80%;
       
      }
  
      .swiper-slide img {
        display: block;
        width: 70%;
        height:70%;
        object-fit: cover;
      }
 


