@charset "UTF-8";
h6{font-size: var(--size-xs);} /*15px*/
u,h5{font-size: var(--size-s);} /*20px*/
h4{font-size: var(--size-m);} /*30px*/
h3{font-size: var(--size-l);} /*50px*/
h2{font-size: var(--main-title); } /*65px*/
h1{font-size: var(--slide-title);} /*100px*/


@media(max-width:599px) {

}

@media(min-width:400px) and (max-width:600px) {

}

@media(min-width:1100px) {

}
                     /* 텍스트 애니메이션 and 움직이는 써클 */
#textanimation{background-color: gold; width: 100%; height: 150px; color: black
    ;}
.circle1{position: absolute; left: 15%; margin:5% 2%; animation:ani 1.6s infinite alternate;}
.circle1 img{width: 50%;}
.circle2{position: absolute; left: 65%; margin: 5%;animation:ani 1.4s infinite alternate;}
.circle2 img{width: 70%;}
.circle3{position: absolute; top:40%; margin: 2% 3%;animation:ani 1.5s infinite alternate;}
.circle3 img{width: 80%;}

                     /* 섹션1 */
#section1{opacity: 0.5; width: 100%; height: 1500px;
     position: relative; display: flex; flex-direction: column;}
.section1column1{width: 100%; height: 500px;}
.section1column1 div{text-align: center; margin-top:10%; color: black;}

.section1column2{ width: 100%; height: 500px;display: flex; align-items: 
    flex-end; justify-content: space-around;}
.grape3{width: 100%; height: 150px; background-color: aqua; }
.grape4{width: 100%; height: 250px; background-color: aqua; }
.grape5{width: 100%; height: 350px; background-color: aqua; }
    

.section1column3{height: 500px; display: flex; }
.section1column3 .textbox{background-color: white; width: 50%; border-radius: 70px 0 0 70px; border: 2px solid; display: flex; align-items: center; justify-content: center;}
.smallgrape{background-color: black; width: 50%; border-radius:0 70px 70px 0;}

                     /* 섹션2 */
#section2{background-color: bisque; width: 100%; height: 1000px; display: flex; flex-direction: column; align-items: center;}
#section2 .textbox{text-align: center; margin: 5%;}
table tr{margin: 100px;}
table tr:nth-of-type(1){background-color: red;}
table tr:nth-last-child(1){background-color: red;}


                     /* 섹션3 */
#section3{ width: 100%; height: 1000px; display: flex; flex-direction: column; align-items: center;}
#section3 .textbox{text-align: center; width: 100%; margin: 5%;}
.iconbox{display: flex; justify-content: center; margin-top:5%;}
.iconbox>div{margin: 0 10px; border-radius: 20px; width: 10%; padding: 10px;}
.iconbox div:nth-of-type(1){background-color: #AFC555;}
.iconbox div:nth-of-type(2){background-color: #F6AC82;}
.iconbox div:nth-of-type(3){background-color: #EC6A40;}
.iconbox div:nth-of-type(4){background-color: #D7E2AA;}
                                 
.section3banner{display: flex; justify-content:space-around; align-items: center;
    width:100%; height: 500px; background-color:skyblue; border: 20px solid #F6AC82; border-radius: 50px;}
  
      .swiper {
        height:70%;
        width: 60%;
      
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px; 
      }
  
      .swiper-slide img {
        display: block;
        width: 90%;
        height:90%;
        object-fit: cover;
      }


